<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191000785250-n679fifnm0aqrkkji60glb5vnurh7kjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191000785250-n679fifnm0aqrkkji60glb5vnurh7kjn</string>
	<key>API_KEY</key>
	<string>AIzaSyCCVwlMQWyRr6Z5i3rDdeJ7ThxHHnNVPgA</string>
	<key>GCM_SENDER_ID</key>
	<string>191000785250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sabina-Huseynova.PhoneAuth</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-48a62</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-48a62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191000785250:ios:ad5b57859081d33d7cfc3b</string>
</dict>
</plist>